body {
  font-family: sans-serif;
  padding: 1em;
  background-color: #fffefc;
  color: #333;
}

h1 {
  text-align: center;
}

input, textarea, button {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.7em;
  font-size: 1em;
}

button {
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #005050;
}
